
h2 {
  font-family: Chalkduster;
  color: turquoise;
  font-size: 60px;
  text-align: center;
}

.centered {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#nickelodeon {
  width: 35%;
  opacity: 0.75;
  position: center
}
