
div {
  background:orange;
  margin: auto;
  width: 50%;
  padding: 10px;
}
h2 {
  font-family: Chalkduster;
  color: turquoise;
  font-size: 60px;
  text-align: right;
}

.centered {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#nickelodeon {
  width: 35%;
  opacity: 0.75;
