/* styles */
body {
  text-align: center;
  padding: 15px;
  border: 7px solid ##b58907;
}
.main-container {
  background: rgb(#aa93d4);
  border: 4px solid #000000;
}
.secondary-container {
  border: 4px solid ##b58907;
}
/*art work*/
.square-1 {
   margin: auto;
   padding: 0.25em;
   min-width: 75px;
   color: #9e1544;
   line-height: 5em;
}
   .square-2 {
      margin: auto;
      padding: 0.25em;
      min-width: 75px;
      color: #cddc39;
      line-height: 5em;










/* fonts */
@font-face {
  atom-workspace {
      font-family: Phosphate;
.p1 {
font-family: 'Phosphate', serif;;
}
.p2 {
   font-family: Gill Sans MT Condensed;
}
.p3 {
   font-family: Gill Sans MT Condensed;
}

/*border*/
