/* styles */
body {
  text-align: center;
  padding: 15px;
  border: 7px solid ##b58907;
}
.main-container {
  background: rgb(#aa93d4);
  border: 4px solid #000000;
}
.secondary-container {
  border: 4px solid ##b58907;
}
/*art work*/
#square-1 {
  position: relative;
  width: 40%;
  height: 40%;
  padding: 4em;
  margin: auto;
  background-color: rgb(195, 13, 75);

  }
  #square-2 {
    position: relative;
    width: 40%;
    height: 40%;
    padding: 4em;
    margin: auto;
    background-color: rgb(128, 195, 49);










/* fonts */
@font-face {
  atom-workspace {
      font-family: Phosphate;
.p1 {
font-family: 'Phosphate', serif;;
}
.p2 {
   font-family: Gill Sans MT Condensed;
}
.p3 {
   font-family: Gill Sans MT Condensed;
}

/*border*/
