/* styles */
body {
  text-align: center;
  padding: 15px;
  border: 7px solid ##b58907;
}
.main-container {
  background: rgb(#aa93d4);
  border: 4px solid #000000;
}
.secondary-container {
  border: 4px solid ##b58907;
}
/*art work*/
#square-1 {
  float: left;
  height: 70px;
  width: 70px;
   background-color: rgb(195, 13, 75);
    margin: 0 1.5% 24px 1.5%;

  }
  #square-2 {
    float: left;
    height: 70px;
    width: 70px;
    background-color: rgb(128, 195, 49);
}
    #square-3 {
      float: left;
      height: 70px;
      width: 70px;
      background-color: rgb(210, 36, 24);
}

  #square-4 {
  float: left;
  height: 70px;
  width: 70px;
  background-color: rgb(210, 36, 24);
}

  #square-5 {
  float: left;
  height: 70px;
  width: 70px;
  background-color: rgb(7, 17, 70);
}
#square-5 {
float: left;
height: 70px;
width: 70px;
background-color: rgb(140, 139, 139);





/* fonts */
@font-face {
  atom-workspace {
      font-family: Phosphate;
    }
.p1 {
font-family: 'Phosphate', serif;;
}
.p2 {
   font-family: Gill Sans MT Condensed;
}
.p3 {
   font-family: Gill Sans MT Condensed;
}

/*border*/
