/* fonts */
@font-face {
  atom-workspace {
      font-family: Phosphate;
    }
.p1 {
font-family: 'BELLABOO', serif;;
}
.p2 {
   font-family: 'DIN Condensed', serif;
}
.p3 {
   font-family: 'Gill Sans MT', serif;
}
