/* fonts */
@font-face {
  atom-workspace {
      font-family: Phosphate;
    }
.p1 {
font-family: 'BELLABOO', serif;;
}
.p2 {
   font-family: 'DIN Condensed', serif;
}
.p3 {
   font-family: 'Gill Sans MT', serif;
}
h1 {
  font-family: 'BELLABOO', serif;
}
h2 {
  font-family:'Gill Sans', sans-serif;
}
h3 {
font-family: 'Gill Sans MT Condensed',sans-serif;
